h1{ 
    color: white;
    text-align: center;
    background-color: black;
    font-size: 50px;;
}

h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  #main {color: blue;}

  .test{
    text-align: left;
    color: blueviolet;
  }
  img {
  border-radius: 38px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.important {
  color: red
}
.unimportant {
  color: blue;
}
.cat-climate {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

  