h1{ 
    color: black;
    text-align: center;
    background-color: whitesmoke;
    font-size: 100px;
}

  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  #main {color: blue;}

  .test{
    text-align: left;
    color: blueviolet;
  }

  